@media (max-width: 900px) {
  .desktop-container {
    display: none;
  }

  .mobile-container {
    display: block;
  }
}

@media (max-width: 550px) {
  .modal {
    width: 90%;
    font-size: 2rem;
  }

  .search-form-mobile {
    width: 100%;
  }

  .mobile-nav {
    height: 6rem;
  }

  .mobile-nav > * {
    width: 2.5rem;
  }

  .arrow-back-mobile {
    padding: 1.2rem 3rem;
  }
}
